/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(-45deg,#020617,#0f172a,#020617,#0a192f);
    background-size:400% 400%;
    animation: gradientBG 12s ease infinite;
    color: aliceblue;
}

/* NAVBAR */
nav{
    position:fixed;
    top:0;
    width:100%;
    padding:18px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    z-index:1000;
}

.logo{
    color:cyan;
    font-size:22px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover{
    color:cyan;
}

/* SECTIONS */
.section{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:100px 20px;
}

/* HERO SECTION */
#home{
    gap:15px;
}

#home h1{
    font-size:48px;
}

#home span{
    color:cyan;
}

/* GLASS CARD EFFECT */
.section:not(#home){
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border-radius:20px;
    width:80%;
    margin:auto;
    margin-top:60px;
}

/* SKILLS */
.skills-container{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:20px;
}

.skill{
    padding:12px 25px;
    background:rgba(0,255,255,0.15);
    border:1px solid cyan;
    border-radius:30px;
    transition:0.3s;
}

.skill:hover{
    transform:translateY(-5px);
    background:cyan;
    color:black;
}

/* PROJECT CARDS */
.project-card{
    background:#1e293b;
    padding:20px;
    margin:15px;
    border-radius:12px;
    width:300px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px) scale(1.03);
}

/* CONTACT FORM */
form{
    display:flex;
    flex-direction:column;
    width:300px;
}

input,textarea{
    margin:10px 0;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px;
    border:none;
    background:cyan;
    font-weight:bold;
    cursor:pointer;
    border-radius:8px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

/* SCROLL ANIMATION */
.hidden{
    opacity:0;
    transform:translateY(60px);
    transition:all 1s;
}

.show{
    opacity:1;
    transform:translateY(0);
}

.subtitle{
    opacity:0.8;
    font-size:18px;
}

.btn{
    margin-top:20px;
    padding:12px 25px;
    background:cyan;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.1);
}

.typing{
    margin-top:10px;
    color:cyan;
    font-weight:500;
}

@keyframes gradientBG{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

nav a.active{
    color:cyan;
    border-bottom:2px solid cyan;
}